# Arquivos de configuração sensíveis
.env

# Arquivos temporários do R
.Rhistory
.RData
.Ruserdata

# Arquivos Python
python/__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Arquivos de configurações de IDE
.idea/
.vscode/
